

$font-work: "Work Sans", sans-serif;
$font-pt: 'PT Sans', sans-serif;
$font-lato: 'Lato', sans-serif;


html, button, input, select, textarea,
    .pure-g [class *= "pure-u"] {
        /* Set your content font stack here: */
        font-family: $font-work;
    }

h1,h2,h3,h4, ul, li {
  margin: 0;
  padding: 0;
}

p {
  line-height: 150%; 
}

header {
  h1 {
    padding-top: 5%;
    text-align: center;
  }
}

@mixin btn-trans {
  transition: background-color 500ms ease,
                color 300ms ease; 

  &:hover {
    color: #fff;
    background-color: black;
  }
}


.container {
  text-align: center;
  margin: 0 10px 30px;

  .page-title {
    margin-bottom: 25px; 
    font-size: 1.4375rem;
  }
}

h1.header {
  .bold-head {
    font-weight: 700;
  }
  margin: 30px 0;
  text-transform: uppercase;
  text-align: center;
  font-weight: 200;
  font-size: 1.4rem;
}


