
//NAVIGATION

h1,h2,h3,h4, ul, li {
  margin: 0;
  padding: 0;
}


header {
  h1 {
    padding-top: 5%;
    text-align: center;
  }
  
}

nav {
  text-align: center;
  padding: 20px 0;

  ul {
    list-style-type: none;
  }

  li {
    display: inline-block;
    &:before {
      content: "/";
    }
    &:first-of-type:before {
      content: "";
    }

    a {
      text-decoration: none;
      text-transform: uppercase;
      padding: 27px;
    }
  }
}

//FRONT PAGE BANNER

.top-banner {
  background: url('./assets/images/front-page-banner.jpg') no-repeat center center / cover;
  width: 100%;
  position: relative;
  height: 960px;

  .join-button {
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -60px;
    margin-top: -58px;
    text-transform: uppercase;
    background-color: #fff;
    display: inline-block;
    padding: 20px 33px;
  }
}

//FRONT PAGE CALL TO ACTIONS

.body-cta {
  padding: 100px 0;
  text-align: center;

  section {
  
    @mixin section-cta-border($color){
      h2 {
        color: $color
      };

      .cta-wrap {
        text-transform: uppercase;
        margin: 0 30px;
        padding: 57px 0 49px;
        border-top: 1px solid $color;
        border-bottom: 1px solid #D6D6D6;
      }
    }

    &:nth-child(1) {
      @include section-cta-border(#9CD4DB);
    }
    &:nth-child(2) {
      @include section-cta-border(#D8C2Ba);
    }
    &:nth-child(3) {
      @include section-cta-border(#FFA396);
    }
  }
}


.middle-banner {
  margin: 0 30px;
  background: url('./assets/images/woman-bag.jpg') no-repeat center center / cover;
  height: 479px;
}

.categories {
  text-align: center;
  padding: 100px 30px 0;
  h1 {
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 100px;
  }
}





