
$font-work: "Work Sans", sans-serif;

html, button, input, select, textarea,
    .pure-g [class *= "pure-u"] {
        /* Set your content font stack here: */
        font-family: $font-work;
    }

h1,h2,h3,h4, ul, li {
  margin: 0;
  padding: 0;
}

header {
  h1 {
    padding-top: 5%;
    text-align: center;
  }
}

//NAVIGATION

// nav {
//   text-align: center;
//   padding: 20px 0;

//   ul {
//     list-style-type: none;
//   }

//   li {
//     display: inline-block;
//     &:before {
//       content: "/";
//     }
//     &:first-of-type:before {
//       content: "";
//     }

//     a {
//       text-decoration: none;
//       text-transform: uppercase;
//       padding: 27px;
//     }
//   }
// }

@mixin container-header($boldWord){
  margin: 30px 0;
  text-transform: uppercase;
  text-align: center;
  font-weight: 200;
  font-size: 1.4rem;
  &:before {
    content: $boldWord + ' ';
    font-weight: 700;
  }
}

.container {
  margin: 0 10px 30px;

}

//FRONT PAGE BANNER

.top-banner {
  background: url('./assets/images/front-page-banner.jpg') no-repeat center center / cover;
  width: 100%;
  position: relative;
  height: 350px;

  .join-button {
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -45px;
    margin-top: -24px;
    font-size: 12px;
    text-transform: uppercase;
    background-color: #fff;
    display: inline-block;
    padding: 5px 15px;
  }
}

//FRONT PAGE CALL TO ACTIONS

.body-cta {
  padding: 40px 0;
  text-align: center;

  section {

    margin-bottom: 20px;
  
    @mixin section-cta-border($color){
      h2 {
        color: $color
      };

      p {
        font-size: 0.625rem;
        margin: 20px 0 0;
      }

      .cta-wrap {
        text-transform: uppercase;
        margin: 0 10px;
        padding: 20px 0;
        border-top: 1px solid $color;
        border-bottom: 1px solid #D6D6D6;
      }
    }

    &:nth-child(1) {
      @include section-cta-border(#9CD4DB);
    }
    &:nth-child(2) {
      @include section-cta-border(#D8C2Ba);
    }
    &:nth-child(3) {
      @include section-cta-border(#FFA396);
    }
  }
}


.middle-banner {
  background: url('./assets/images/woman-bag.jpg') no-repeat center center / cover;
  height: 479px;
}

.categories {
  text-align: center;
  padding: 20px 0 0;

  .product-wrap {
    box-sizing: border-box;
    border: 1px solid #F0F2F7;
  }

  .product-wrap:hover{
    transition: background 500ms ease;
    background-color: #FEEDE9;
    h3 {
      transition: all 300ms ease;
      color: #FFF;
      background-color: #000;
    }
  }

  .header {
    @include container-header("browse");
  }

  .product-wrap {
    margin-top: 20px;
    img {
      margin: 0 auto;
    }
    .title {
      margin: 35px 0;
    }
    h3 {
      font-size: 0.9rem;
      display: inline-block;
      font-weight: 100;
      padding: 15px 30px;
      margin-bottom: 20px;
      border: 3px solid black;
    }
  }
}

.sales {
  .header {
    @include container-header("Products");
  }

  .product-wrap {
    background-color: red;
    padding: 15px;
    box-sizing: border-box;
    img {
      margin: 0 auto;
    }
    .title {
      text-align: center;
      margin: 25px;
      font-size: 1.25rem;
      font-weight: 100;
    }
    .prod-price {
      text-align: center;
      font-size: 1.5rem;
    }
  }

}





