/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {
  .top-banner {
    height: 350px;
  }
}

/* Larger than phablet */
@media (min-width: 550px) {
  .top-banner {
    height: 500px;
  }
}

/* Larger than tablet */
@media (min-width: 750px) {
  .top-banner {
    height: 650px;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {
  .top-banner {
    height: 800px;
  }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
  .top-banner {
    height: 1200px;
  }
}
