@import url("https://fonts.googleapis.com/css?family=PT+Sans|Work+Sans:100,400,700");
html, button, input, select, textarea,
.pure-g [class*="pure-u"] {
  /* Set your content font stack here: */
  font-family: "Work Sans", sans-serif; }

h1, h2, h3, h4, ul, li {
  margin: 0;
  padding: 0; }

header h1 {
  padding-top: 5%;
  text-align: center; }

.container {
  margin: 0 10px 30px; }

h1.header {
  margin: 30px 0;
  text-transform: uppercase;
  text-align: center;
  font-weight: 200;
  font-size: 1.4rem; }
  h1.header .bold-head {
    font-weight: 700; }

.top-banner {
  background: url("./assets/images/front-page-banner.jpg") no-repeat center center/cover;
  width: 100%;
  position: relative;
  height: 350px; }
  .top-banner .join-button {
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -45px;
    margin-top: -24px;
    font-size: 12px;
    text-transform: uppercase;
    background-color: #fff;
    display: inline-block;
    padding: 5px 15px; }

.main-cta {
  padding: 40px 0;
  text-align: center; }
  .main-cta section {
    margin-bottom: 20px; }
    .main-cta section:nth-child(1) h2 {
      color: #9CD4DB; }
    .main-cta section:nth-child(1) p {
      font-size: 0.625rem;
      margin: 20px 0 0; }
    .main-cta section:nth-child(1) .cta-wrap {
      text-transform: uppercase;
      margin: 0 10px;
      padding: 20px 0;
      border-top: 1px solid #9CD4DB;
      border-bottom: 1px solid #D6D6D6; }
    .main-cta section:nth-child(2) h2 {
      color: #D8C2Ba; }
    .main-cta section:nth-child(2) p {
      font-size: 0.625rem;
      margin: 20px 0 0; }
    .main-cta section:nth-child(2) .cta-wrap {
      text-transform: uppercase;
      margin: 0 10px;
      padding: 20px 0;
      border-top: 1px solid #D8C2Ba;
      border-bottom: 1px solid #D6D6D6; }
    .main-cta section:nth-child(3) h2 {
      color: #FFA396; }
    .main-cta section:nth-child(3) p {
      font-size: 0.625rem;
      margin: 20px 0 0; }
    .main-cta section:nth-child(3) .cta-wrap {
      text-transform: uppercase;
      margin: 0 10px;
      padding: 20px 0;
      border-top: 1px solid #FFA396;
      border-bottom: 1px solid #D6D6D6; }

.middle-banner {
  background: url("./assets/images/woman-bag.jpg") no-repeat center center/cover;
  height: 479px; }

.categories {
  text-align: center;
  padding: 20px 0 0; }
  .categories .product-wrap {
    box-sizing: border-box;
    border: 1px solid #F0F2F7; }
  .categories .product-wrap:hover {
    transition: background 500ms ease;
    background-color: #FEEDE9; }
    .categories .product-wrap:hover h3 {
      transition: all 300ms ease;
      color: #FFF;
      background-color: #000; }
  .categories .product-wrap {
    margin-top: 20px; }
    .categories .product-wrap img {
      margin: 0 auto; }
    .categories .product-wrap .title {
      margin: 35px 0; }
    .categories .product-wrap h3 {
      font-size: 0.9rem;
      display: inline-block;
      font-weight: 100;
      padding: 15px 30px;
      margin-bottom: 20px;
      border: 3px solid black; }

.sales .product-wrap {
  background-color: red;
  padding: 15px;
  box-sizing: border-box; }
  .sales .product-wrap img {
    margin: 0 auto; }
  .sales .product-wrap .title {
    text-align: center;
    margin: 25px;
    font-size: 1.25rem;
    font-weight: 100; }
  .sales .product-wrap .prod-price {
    text-align: center;
    font-size: 1.5rem; }

.main-testimonial {
  padding: 30px 0;
  background-color: #ECECEC; }
  .main-testimonial .customer-img {
    border-radius: 100%;
    border: 6px solid #fff;
    display: block;
    width: 168px;
    height: 168px;
    margin: 50px auto; }
  .main-testimonial .customer-testimonial {
    padding: 0 30px;
    text-align: center;
    font-weight: 300;
    font-family: "PT Sans", sans-serif; }

/* Mobile first queries */
/* Larger than mobile */
@media (min-width: 400px) {
  .top-banner {
    height: 350px; } }
/* Larger than phablet */
@media (min-width: 550px) {
  .top-banner {
    height: 500px; } }
/* Larger than tablet */
@media (min-width: 750px) {
  .top-banner {
    height: 650px; } }
/* Larger than desktop */
@media (min-width: 1000px) {
  .top-banner {
    height: 800px; } }
/* Larger than Desktop HD */
@media (min-width: 1200px) {
  .top-banner {
    height: 1200px; } }

/*# sourceMappingURL=style.css.map */
