
.about-container {
  .about-intro {
    font-weight: 100;
    margin-bottom: 40px;
    img {
      width: 100%;
    }
    section {
      font-family: $font-lato;
      background-color: #eaeaea;
      text-align: left;
      padding:  16px 20px;
      h2 {
      font-size: 0.9375rem;
      font-weight: 100;
      text-transform: uppercase;
      }
    }
  }

  .circle-stats {
    border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
    padding-bottom: 50px;

    .timer tspan.number {
      font-size: 2rem;
      font-weight: 700;
    }

    text {
      font-size: 0.875rem;
      font-weight: 700;
    }
  }

  .about-testimonial {
    padding: 30px 0;
    

    .customer-img {
      border-radius: 100%;
      border: 6px solid #fff;
      display: block;
      width: 168px;
      height: 168px;
      margin: 50px auto;
    }

    .customer-testimonial {
      padding: 0 30px;
      text-align: center;
      font-weight: 300;
      font-family: $font-lato;
    }
  }

  .main-social {
    
  }








}